TAVILY_API_KEY=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
FIRECRAWL_API_KEY=fc-9fcd282264ef4d47b443da89972955b0

# MongoDB Configuration
MONGODB_URL=mongodb+srv://akps1440236_db_user:15NVkjBzoOKbiYxx@cluster0.kyjazqv.mongodb.net/?appName=Cluster0
DATABASE_NAME=sales_outreach_db

# JWT Configuration
JWT_SECRET_KEY=your_super_secret_jwt_key_change_this_in_production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30